/* 
 ! * Mobile/Other Format
*/
.project-container {
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

.photo-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-screenshot {
  width: 100%;
  height: auto;
  box-shadow: 7px 7px 5px lightgray;
}

.scr-shots-num-holder {
  list-style-type: none;
  justify-self: center;
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
}

.scr-shot-num {
  text-align: center;
  margin: auto;
  margin: 10px;
  width: 35px;
  height: 35px;
  background-color: lightgray;
}

.active-shot {
  background-color: lightcoral;
}

.carousel-nav-btn {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 6px;
  font-size: 20px;
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  font-family: 'Nunito', 'Open Sans' ,'Roboto', 'sans-serif';
}

.site-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
}

.site-btn {
  margin: 10px;
  width: 130px;
  border-radius: 10px;
  outline: none;
  background-color: floralwhite;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Nunito', 'Open Sans' ,'Roboto', 'sans-serif';
}

.site-link {
  text-decoration: none;
  color: black;
  font-size: 1.7em;
  font-weight: bold;
}

.project-description {
  line-height: 1.5;
  max-width: 65ch;
  text-align: left;
}

/* 
 ! * DESKTOP FORMAT
*/
@media (min-width: 1040px) {
  .project-screenshot {
    width: 70%;
    height: auto;
    display: flex;
    justify-self: center;
  }

  .carousel-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

