.menu {
  grid-area: menuContainer; /* check if correct?? class? */
  /* grid-area may need to be parent of menu */
}

ul {
  list-style: none;
}

/* .content {
  grid-area: content;
  /* consider some sort of background image here */


