body {
  box-sizing: border-box;
  background-color:snow;
  font-family: 'Nunito', 'Open Sans' ,'Roboto', 'sans-serif';
  display: flex;  
  flex-direction: column;
  justify-content: center;
}

.container {
  font-size: 1.5em;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: 
      "sidebar content content",
      "sidebar content content",
      "sidebar footer footer";
  grid-template-columns: 1fr;
  /* grid-template-rows: 130px 800px 250px; */
}

.footer > ul {
  list-style: none;
  background-color: lightseagreen;
}

.content {
  grid-area: content;
  grid-row-start: 0;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 3;  
  /* consider background url */
}

.sidebar {
  grid-area: sidebar;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  justify-content: center;
}

.menu-item {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.footer {
  grid-area: footer;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.footer-items > ul {
  display: flex;
  justify-content: space-evenly;
}

main {
  background-color:ghostwhite;
}

.footer-items {
 background-color: white;
}

.content, .menu-container, .footer {
  padding: 1em;
}

/* trying to get ul to stretch across whole menu bar */
.menu-container {
  display:flex;
  flex-direction: column;
  background: linear-gradient(to bottom, 
  rgb(85, 134, 190),
  rgb(51, 75, 119),
  rgb(44, 39, 90));
  justify-content: space-between;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* format Li's within menu-container */
/* .menu-container {
  
} */

/* Contact formatting */
.contact-info {
  display: flex;
  flex-direction: column;

}

.message-area {
  display: flex;
  flex-direction: column;

}

.menu {
  grid-area: menu-container; /* check if correct?? class? */
  height: 100vh;
  padding: 20px;
}

.menu-links {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  flex-direction: column;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
  color: white;
}